<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Military Units</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <span>Swordsmen:</span>
            <span><%= 0 %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Archers:</span>
            <span><%= 0 %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Horsemen:</span>
            <span><%= 0 %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
