<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Military Units</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <span>Swordsmen:</span>
            <span><%= user_game.swordsman %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Archers:</span>
            <span><%= user_game.archers %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Horsemen:</span>
            <span><%= user_game.horseman %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Civilian Units</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <span>People:</span>
            <span><%= user_game.people %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 